@import "fonts.sass";
@import "_reset.scss";

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Roboto", sans-serif;
$fwNormal: 400;
$fwBold: 700;
$fsMobile: 14px;
$fsMedium: 16px;
$fsPreBig: 20px;
$fsBig: 24px;

$lineHeightBig: 32px; 
$lineHeightMedium: $fsBig;

$colorShadowCard: rgba(0, 0, 0, 0.6);

$white: #fff;
$lightestPink :#ff97b0;
$lighterPink: #f9637c;
$lightPink: #ff4b77;
$pink: #f91155;
$darkPink: #d8003f;
$orange: rgba(255, 118, 71, 1);
$darkBlue: #0a2240;
$darkestBlue: rgba(10, 34, 64, 0.1);
$lightGray: rgba(255, 255, 255, 0.6);
$gray: rgba(255, 255, 255, 0.5);
$darkBlueGray: #7e868f;
$darkGray: rgba(255, 255, 255, 0.4);
$darkestGray:rgba(255, 255, 255, 0.2);
$deepGray: #3c3e43;

$pathImages: "../images/dest/";

$base-color: $white;
$colorAccent: $lightPink;
$bgDefaultButton: $pink;
$bgButton: $darkPink;
$colorButton: $lighterPink;
$colorActiveLink: $gray;
$bgToGradient: $darkBlue;
$bgFromGradient: $darkestBlue;
$border-booking: $darkestGray;
$bg-reserved: $deepGray;


body {
    font-family: $primary-font;
    font-weight: $fwNormal;
}

.bg-container {
    position: fixed;
    z-index: -1;
   
    height: 100vh;
    width: 100%;
  
    background-repeat: no-repeat;
    background-image: url("#{$pathImages}background.svg");
    background-size: cover;
}

.content-wrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.content__title {
    padding: 24px 0;
  
    font-family: $secondary-font;
    font-size: $fsBig;
    font-weight: $fwBold;
    line-height: $lineHeightBig;
    text-align: center;
    text-transform: uppercase;
}

.content__cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
}

.content__card { 
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 288px;
    min-height: 347px;
    padding: 21px;
  
    color: $base-color;
  
    border-radius: 13px;
  
    overflow: hidden;

    &:hover {
        box-shadow: 0px 4px 15px $colorShadowCard;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
      
        height: 100%;
        
        background: linear-gradient(180deg, $bgFromGradient 0%, $bgToGradient 100%);
      
        content: "";
    }

    &.content__card--reserved {
        padding-bottom: 154px;
    }
}

.content__card--reserved.content__card:before {
    background: linear-gradient(180deg, $bgFromGradient 0%, $darkBlueGray 100%),
    $darkGray;
}

.content__card--reserved {
    cursor: pointer;
}

.card__image {
    position: absolute;
    top: 0;
  
    height: 100%;
    align-self: center;
}

.card__content {
    z-index: 3;

    .card__hidden {
        display: none;
    }
}
  
.card__subtitle {
    margin: 54px 0 10px;
  
    font-family: $secondary-font;
    font-size: $fsPreBig;
    line-height: 26px;
    font-weight: $fwBold;
}

.card-subtitle__link {
    color: $base-color;
    text-decoration: none;

    &:hover {
        background: linear-gradient(left, $base-color, $base-color 100%);
        background: -webkit-linear-gradient(left, $base-color, $base-color 100%);
        background-position: 0 95%;
        background-size: 10px 1px;
        background-repeat: repeat-x;
    }

    &:active {
        color: $colorActiveLink;
        text-decoration: none;
    }
}

.card__description {
    margin: 0 0 20px;
  
    font-size: $fsMobile;
    line-height: 150%; 
}

.card__booking {
    padding-top: 17px;
  
    border-top: 1px solid $border-booking;
}

.card__price {
    margin-bottom: 16px;
  
    font-weight: $fwBold;  
}

.card__price-subtitle {
    font-size: $fsMobile;
    line-height: 21px;
}

.card__price-text {
    font-family: $secondary-font;
    font-size: 17px;
    line-height: $lineHeightMedium;
}

.card__price-value {
    font-family: $secondary-font;
    font-size: $fsPreBig;
    line-height: $lineHeightBig; 
    color: $colorAccent;
}

.card__price-currency {
    font-weight: $fwNormal;
    font-size: $fsPreBig;
    line-height: $lineHeightBig;
    color: $lightGray;
}

.card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 42px;
    padding: 10px 25px;
  
    font-weight: $fwBold;
    font-size: $fsMobile;
    line-height: $lineHeightMedium;
    color: $base-color;
    
    border: none;
    border-radius: 5px;
    background-color: $bgDefaultButton;
  
    cursor: pointer;

    &:hover {
        background-color: $bgButton;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
        color: $colorButton;
      
        background-color: $bgButton;
    }
}

.card__reserved {
    position: absolute;
    bottom: 0;
    left: 0;
  
    padding: 25px 24px 29px;
    width: 100%;
  
    color: $base-color;
    font-size: $fsMobile;
    line-height: 21px;
  
    background-color: $bg-reserved;
    text-align: center;
}

.card__link {
    color: $colorAccent;
  
    text-decoration: none;

    &:hover {
        color: $colorAccent;
      
        text-decoration: underline;
    }

    &:active {
        color: $lightestPink;
      
        text-decoration: none;
    }
}

.card-motivator:not(.card-motivator--hidden):hover .card-motivator-title {
    display: block;
}

.card-motivator-title {
    position: absolute;
    top: 24px;
    left: 20px;
    z-index: 3;
  
    display: none;
    padding: 4px 40px 4px 16px;
  
    font-family: $secondary-font;
    font-weight: $fwBold;
    font-size: $fsMobile;
    line-height: 21px;
    color: $base-color;
    
    background: linear-gradient(90deg, $orange calc(100% - 36px), rgba(0, 212, 255, 0) 36px),
      url("#{$pathImages}icon-discount.svg") no-repeat center right; 
}

@media screen and (min-width: 768px) {
    .content__title {
        padding: 27px 0;
    
        font-weight: 500;
        font-size: 36px;
        line-height: 55px;   
    }

    .content__cards-container {
        flex-direction: row;
        gap: 37px 28px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        max-width: 768px;
        margin: 0 auto 40px;
    }

    .content__card {
        width: 336px;
        min-height: 420px;
        padding: 24px;

        &.content__card--reserved {
            padding-bottom: 161.5px;
        }
    }

    .card__subtitle {
        margin: 54px 0 10px;
    
        font-size: $fsBig;
        line-height: $lineHeightBig; 
    }

    .card__description {
        margin: 0 0 20px;
    
        font-size: $fsMedium;  
    }

    .card__price-subtitle {
        font-size: $fsMedium;
        line-height: $lineHeightMedium;
    }

    .card__price-text {
        font-size: 19px;
    }

    .card__price-value {
        font-size: $fsBig;
    }

    .card__price-currency {
        font-family: $secondary-font;
        font-size: 23px;
        color: #999999;  
    }

    .card__button {  
        min-height: 48px;
    
        font-size: $fsMedium;
    }
}

@media screen and (min-width: 1280px) {
    .content__title {
        padding: 33px 0;
    }

    .content__cards-container {
        gap: 42px 32px;
        max-width: 1280px;
    }

    .content__card {
        width: 372px;
        min-height: 372px;

        &.content__card--reserved {
            padding-bottom: 98px;
        }
    }

    .card__booking {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card__price {
        margin-bottom: 0;
    }

    .card__button {
        width: 180px;
        padding: 10px 25px;
    }
}